# Секрети та змінні середовища
.env

# Віртуальне середовище
.venv/
venv/
env/

# Локальна база даних Qdrant
qdrant_local_db/

# Системний кеш Python
__pycache__/
*.pyc

# Дані n8n
.n8n/

# Логи та кеш операційних систем
*.log
.DS_Store